<%- include("header") -%> 

 <div class="box" id="heading">
    <h1><%= listName %> </h1>
 </div>

 <div class="box">
    <% for(var i = 0;i<taskList.length;i++){ %>
        <div class="newTask">
            <input type="checkbox" name="" id="">
            <p><%= taskList[i] %> </p>
        </div>
    <% } %>

    <form class="newTask" action= <%= listName %>  method="post">
        <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
        <button type="submit" name = "button" value = <%= listName %>  >+</button>
    </form>
 </div>
   
<%- include('footer') -%> 